body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

.nav ul{
    display: flex;             
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 240, 240);
    font-size: 30px;
    width: 100%;
    border: 2px solid gray;
    text-align: center;
    overflow: hidden;
}

.nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    float: left;
}

.naw a:hover{
    background-color: white;
    color: black;
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

h3{
    font-size: 30px;
    text-align: left;
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.box1{
    background-color: rgb(255, 0, 0);
    width: 25%;
    height: 70%;
   
    
    text-align: center;

}

.box2{
    background-color: rgb(9, 110, 18);
    width: 25%;
    height: 70%;
   
    
    text-align: center;
}

.box3{
    background-color: rgb(180, 192, 11);
    width: 25%;
    height: 70%;
   
    
    text-align: center;
}

.box4{
    background-color: rgb(86, 88, 221);
    width: 25%;
    height: 70%;
   
    
    text-align: center;
} 

.box1 li{
    background-color: aliceblue;
    list-style-type: disc;
    list-style-position: inside;
    width: 70%;
    background: linear-gradient( to left, rgb(83, 83, 83), rgb(255, 255, 255));
    
}

.box1 li:hover{
    background-color: rgb(107, 107, 107);
    color: aliceblue;
    width: 70%;
    height: 40px;
    background: linear-gradient( to left, rgb(100, 100, 100), rgb(107, 2, 2));
}

.box2 li{
    background-color: aliceblue;
    list-style-position: inside;
    width: 70%;
    background: linear-gradient( to left, rgb(83, 83, 83), rgb(255, 255, 255));
}

.box2 li:hover{
    background-color: rgb(107, 107, 107);
    color: aliceblue;
    width: 70%;
    height: 40px;
    background: radial-gradient(circle at right, #333333, #505050);
}

.box3 li{
    background-color: aliceblue;
    list-style-position: inside;
    width: 70%;
    background: linear-gradient( to left, rgb(83, 83, 83), rgb(255, 255, 255));
}

.box3 li:hover{
    background-color: rgb(107, 107, 107);
    color: aliceblue;
    width: 70%;
    height: 40px;
    background: radial-gradient(circle at top left, #0008ff, #ff7700);
}

.box4 li{
    background-color: aliceblue;
    list-style-position: inside;
    width: 70%;
    background: linear-gradient( to left, rgb(83, 83, 83), rgb(255, 255, 255));
}

.box4 li:hover{
    background-color: rgb(107, 107, 107);
    color: aliceblue;
    width: 70%;
    height: 40px;
    background: radial-gradient(circle, #524343, #afa2f8);
}

.box5{
    width: 100%;
    height: 300px;
    background-color: #afa2f8;
    padding: 50px;
    display: flex;
}


  
.sid{
    width: 200px;
    height: 70px;
    background-color: #ff9900;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
    
}

.sid:hover{
    background-color: #836000;
}

.sid:active{
    background-color: #ffc629;
}



footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}